{% extends './base.html' %}

{% block body %}
{% if user.is_authenticated %}
<div class="container w-60 mt-4">
    <div class="card border-0">
        <div class="card-body">
            <h5 class="card-title mb-4 mx-4">What would you like to do?</h5>
            <div class="d-flex mb-2 p-4">
                    <a href="{% url 'upload_file' %}" class="btn btn-outline-dark w-25 mx-2" >Upload Files</a>
                    <a href="{%  url 'list_files' %}" class="btn btn-outline-dark w-25 mx-2" >See Uploaded Files</a>  
            </div>
        </div>
    </div>
</div>
{% else %}
<h4 class="mt-5 text-center">You need to <a href="{% url 'login' %}">login</a> to see this page</h4>
{% endif %}
{% endblock %}




