{% extends './base.html' %}

{% block body %}
<div class="container w-50 mt-4">
    <h1 class="m-5">Images Upload</h1>
    <p class="m-5">Upload your files using the form provided below.</p>
            <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}

                    <div class="input-group">
                        <input
                          type='file'
                          name='files'
                          multiple
                          class="form-control"
                          id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04"
                          aria-label="Upload"
                        />

                    <button 
                        class="btn btn-sm btn-outline-success mx-3"
                        type="submit"
                        id="inputGroupFile"
                    >
                     Upload
                    </button>
                </div>
            </form>
        </div>
{% endblock %}